<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Home URL</label>
    <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" name="home_url" value="<%= @heading.home_url %>">
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Meta Title</label>
    <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" name="meta_title" value="<%= @heading.meta_title %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Meta Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" name="meta_description" value="<%= @heading.meta_description %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Heading</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="heading" rows="3"><%= @heading.heading %></textarea>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Subtitle</label>
    <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" name="subtitle" value="<%= @heading.subtitle %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Background Color</label>
    <div class="col-sm-10">
        <input type="color" class="form-control form-control-sm" name="solid_color" value="<%= @heading.solid_color %>" style="width: 50px">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Image</label>
    <div class="col-sm-10">
        <input type="file" class="form-control form-control-sm" name="image">
        <% if @heading.image.present? %>
            <img class="thumb" src="<%= @heading.image.url %>"/>
            <br/><input type="checkbox" name="remove_image"> Remove image<br>
        <% end %>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">MP4 Video</label>
    <div class="col-sm-10">
        <input type="file" class="form-control form-control-sm" name="mp4_video">
        <% if @heading.mp4_video.present? %>
            <video class="thumb" width="200" controls>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <br/><input type="checkbox" name="remove_mp4_video"> Remove video<br>
        <% end %>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">WebM Video</label>
    <div class="col-sm-10">
        <input type="file" class="form-control form-control-sm" name="webm_video">
        <% if @heading.webm_video.present? %>
            <video class="thumb" width="200" controls>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <br/><input type="checkbox" name="remove_webm_video"> Remove video<br>
        <% end %>
    </div>
</div>

<h4>Slab 1</h4>
<hr/>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Color</label>
    <div class="col-sm-1">
        <input type="color" class="form-control form-control-sm" name="slab1_color" value="<%= @heading.slab1_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab1_opacity" min="1" max="100" value="<%= @heading.slab1_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Default</label>
    <div class="col-sm-1">
        <input type="color" class="form-control form-control-sm" name="slab1_txt_color" value="<%= @heading.slab1_txt_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab1_txt_opacity" min="1" max="100" value="<%= @heading.slab1_txt_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Rollover</label>
    <div class="col-sm-1">
        <input type="color" class="form-control form-control-sm" name="slab1_txt_roll_color" value="<%= @heading.slab1_txt_roll_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab1_txt_roll_opacity" min="1" max="100" value="<%= @heading.slab1_txt_roll_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Selected</label>
    <div class="col-sm-1">
        <input type="color" class="form-control form-control-sm" name="slab1_txt_sel_color" value="<%= @heading.slab1_txt_sel_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab1_txt_sel_opacity" min="1" max="100" value="<%= @heading.slab1_txt_sel_opacity || '100' %>">
    </div>
</div>

<h4>Slab 2</h4>
<hr/>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Color</label>
    <div class="col-sm-1">
        <input type="color" name="slab2_color" class="form-control form-control-sm" value="<%= @heading.slab2_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab2_opacity" min="1" max="100" value="<%= @heading.slab2_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Default</label>
    <div class="col-sm-1">
        <input type="color" name="slab2_txt_color" class="form-control form-control-sm" value="<%= @heading.slab2_txt_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab2_txt_opacity" min="1" max="100" value="<%= @heading.slab2_txt_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Rollover</label>
    <div class="col-sm-1">
        <input type="color" name="slab2_txt_roll_color" class="form-control form-control-sm" value="<%= @heading.slab2_txt_roll_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab2_txt_roll_opacity" min="1" max="100" value="<%= @heading.slab2_txt_roll_opacity || '100' %>">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Text Selected</label>
    <div class="col-sm-1">
        <input type="color" name="slab2_txt_sel_color" class="form-control form-control-sm" value="<%= @heading.slab2_txt_sel_color %>" style="width: 50px">
    </div>
    <label class="col-sm-1 col-form-label col-form-label-sm">Opacity</label>
    <div class="col-sm-2">
        <input type="range" name="slab2_txt_sel_opacity" min="1" max="100" value="<%= @heading.slab2_txt_sel_opacity || '100' %>">
    </div>
</div>
