<div class="container">
  <h2>Headings</h2>
  <p>
    <a href="/headings/new" class="btn btn-primary">New Heading</a>
    <a href="/main" class="btn btn-default">Back to Home</a>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Meta Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @headings.each do |heading| %>
        <tr>
            <td><%= heading.id %></td>
            <td><%= heading.meta_title %></td>
            <td>
                <%= link_to 'Show', heading_path(heading), :class => "btn btn-primary btn-sm" %>
                <%= link_to 'Edit', edit_heading_path(heading), :class => "btn btn-primary btn-sm" %>
                <%= link_to 'Delete', heading_path(heading), 
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    :class => "btn btn-primary btn-sm" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>